<footer class="text-muted" style="padding-top: 3rem; padding-bottom: 3rem;">
	<div class="container">
	  <p class="float-right">
	  <%= link_to "View all blogs", blogs_path %> /
	    <a href="#">Back to top</a>
	  </p>
	  <%= @copyright %>
	</div>
</footer>
