
<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module social_text">
    <ol class="list-unstyled social_links">
      <li><a href="https://www.linkedin.com/in/linardsberzins/"><%= fa_icon "linkedin" %></a></li>
      <li><a href="https://github.com/linardsb"><%= fa_icon "github" %></a></li>
      <li><a href="https://twitter.com/Linards_Berzins"><%= fa_icon "twitter" %></a></li>
    </ol>
  </div>
 
  <% if @side_bar_topics %>
      <div class="sidebar-module social_text">
        <h4>topics</h4>
        <% @side_bar_topics.each do |topic| %>
          <p><%= link_to topic.title, topic_path(topic) %></p>
        <% end %>
      </div>
    <% end %>


</div>
