
<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h5>the shortest bio</h5>
    <p>Email developer currently at <a href="https://www.merkleinc.com/europe">Merkle</a>. Looking for a position at budding company. Contact me via social or <a href="mailto:linardsbrzins@gmail.com">email</a></p>
  </div>
  <div class="sidebar-module social_text">
    <h4>Social</h4>
    <ol class="list-unstyled social_links">
      <li><a href="https://www.linkedin.com/in/linardsberzins/"><%= fa_icon "linkedin" %></a></li>
      <li><a href="https://github.com/linardsb"><%= fa_icon "github" %></a></li>
      <li><a href="https://twitter.com/Linards_Berzins"><%= fa_icon "twitter" %></a></li>
    </ol>
  </div>
</div>