 <section class="jumbotron text-center" style="min-height: calc(100vh - 56px); display: flex; align-items: center; margin-bottom: 0;">
  <div class="container">
    <h1 class="jumbotron-heading">Portfolio</h1>
    <p class="lead text-muted">Below you'll find examples of Responsive Emails and other portfolio items, that I've built recently.</p>
    <p>
      <%= link_to 'About me', about_me_path, class: 'btn btn-primary' %>
      <%= link_to 'Blog', blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>