
<div class="container">


		<div class="row about-panel">
			<div class="col-md-4 pf">
				<%= image_tag "lb_portfolio_img.jpg", width: 150, alt: "Profile image", class: 'profile_image'%>
				<div class="skills">
					<% @skills.each do |skill| %>
						<div class="skill">
							<h4><%= skill.title %></h4>
							<div class="progress">
								<div
								class="progress-bar progress-bar-striped bg-warning"
								role="progressbar"
								aria-valuenow="<%= skill.percent_utilized %>"
								aria-valuemax="100"
								style="width: <%= skill.percent_utilized %>%"
								>
								</div>
							</div>
						</div>

					<% end %>
				</div>
			</div>
			<div class="col-md-8 about-panel">
				<p class="left_text">Experienced client-facing HTML developer with a proven track record of delivering highly personalised email campaigns for global digital marketing
agencies and top-tier brands in retail and automotive sectors. Expertise in email development technologies including HTML, CSS, Jinja, Liquid,
Handlebars, Braze, Salesforce Marketing Cloud, JIRA, Litmus, Postman, WordPress, SEO, GitHub, and Google Analytics. Demonstrated success in
building dynamic, responsive templates that enhanced customer engagement for audiences up to 3 million recipients.</p>

				<div class="button-group">
					<button
						class="btn btn-primary"
						type="button"
						data-toggle="collapse"
						data-target="#jobHistory"
						aria-expanded="false"
						aria-controls="jobHistory"
					>
					job history
					</button>

					<button
						class="btn btn-primary"
						type="button"
						data-toggle="collapse"
						data-target="#education"
						aria-expanded="false"
						aria-controls="education"
					>
					education
					</button>
				</div>

				<div class="collapse" id="jobHistory">
					<div class="card card-block job_history">
						Senior Email developer / Merkle - Dentsu: August 2020 – November 2025 (Redundancy Effective November 28, 2025)
					</div>
					<div class="card card-block job_history">
						Email Developer / Ometria: August 2019 – August 2020
					</div>
					<div class="card card-block job_history">
						Email Developer / MRM - McCann: Sept 2018 – August 2019
					</div>
					<div class="card card-block job_history">
						Email developer / Merkle - DBG: Dec 2016 – Sept 2018
					</div>
					<div class="card card-block job_history">
						HTML Email, Product Support associate / Rocketseed : Feb 2016 – Aug 2016
					</div>
					<div class="card card-block job_history">
						Technical support / Brightcove: July 2014 – Feb 2016
					</div>
				</div>

				<div class="collapse" id="education">
					<div class="card card-block education">
						Web Technologies - Birkbeck University - 2011-2013
					</div>
					<div class="card card-block education">
						JavaScript / NodeJS - Udemy Online study platform 2015
					</div>
					<div class="card card-block education">
						Ruby on Rails - Udemy Online study platform 2015
					</div>
					<div class="card card-block education">
						Wordpress - Udemy Online study platform 2015
					</div>
				</div>

			</div>
		</div>
</div>

