
<div class="container">


		<div class="row about-panel">
			<div class="col-md-4 pf">
				<%= image_tag "lb_portfolio_img.jpg", width: 150, alt: "Profile image", class: 'profile_image'%>
				<div class="skills">
					<% @skills.each do |skill| %>
						<div class="skill">
							<h4><%= skill.title %></h4>
							<div class="progress">
								<div 
								class="progress-bar progress-bar-striped bg-warning"
								role="progressbar"
								aria-valuenow="<%= skill.percent_utilized %>"
								aria-valuemax="100"
								style="width: <%= skill.percent_utilized %>%"
								>
								</div>
							</div>
						</div>
						
					<% end %>
				</div>
			</div>
			<div class="col-md-8 about-panel">
				<p class="left_text">Hi, I'm Linards. I've been living in London since late 2006, and before that I lived in Graz, Austria. Recent moving to East Grinstead was much welcomed by my family (still love London as well).</p>

				<p>This website displays my recent email and other designs, which I created. I have been undertaking web-related work here and there for the past 2 years, and really got into it seriously over a year ago.</p>

				<p>I'm looking for a freelance HTML Email Developer openings at the moment.</p>

				<p>The following are some of the additional skills I picked up along the way: HTML5, CSS3, Wordpress, a bit of JavaScript, Ruby on Rails, eCommerce, marketing, SEO and social media.</p>

				<p>
					<button
						class="btn btn-primary"
						type="button"
						data-toggle="collapse"
						data-target="#jobHistory"
						aria-expanded="false"
						aria-controler="jobhistory"
					>
					job history
					</button>

					<button
						class="btn btn-primary"
						type="button"
						data-toggle="collapse"
						data-target="#education"
						aria-expanded="false"
						aria-controler="education"
					>
					education
					</button>
				</p>
				<p>
					<div class="collapse" id="jobHistory">
                        <div class="card card-block job_history">
							Dentsu - Senior Email Developer - 2020 - Current
						</div>
                        <div class="card card-block job_history">
							Ometria - Email Developer - 2019 - 2020
						</div>
                        <div class="card card-block job_history">
							MRM McCann - Email Developer - 2018 - 2019
						</div>
						<div class="card card-block job_history">
							 Merkle - Email Developer - 2016 - 2018
						</div>
						<div class="card card-block job_history">
							Rocketseed Ltd - Email Signature support - Feb 2016 – Aug 2016
						</div>
						<div class="card card-block job_history">
							Brightcove - Cloud video Tech support - July 2014 – Feb 2016
						</div>
					</div>

					<div class="collapse" id="education">
						<div class="card card-block education">
							Web Technologies - Birkbeck University - 2011-2013
						</div>
						<div class="card card-block education">
							JavaScript / NodeJS - Udemy Online study platform 2015 - ongoing
						</div>
						<div class="card card-block education">
							Ruby on Rails - Udemy Online study platform 2015 - ongoing
						</div>
						<div class="card card-block education">
							Wordpress (themes, plugins) - Udemy Online study platform 2015 - ongoing
						</div>
					</div>
				</p>

			</div>
		</div>
</div>

