<h1>Lets work together!</h1>



<div class="row">
	<div class="colo-md-6">
		<h3>Currently based in East Grinstead</h3>
		<h3>Contact me on:</h3>
		<p><%= number_to_phone("079 49 783 799", delimiter: "")%></p>
		<h3>Email:</h3>
		<p><a href="mailto:linardsberzins@gmail.com?dubject=PortfolioContact" "email me">Email me</a></p>
	</div>
	<div class="col-md-6">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40063.65866245196!2d-0.05130626180152743!3d51.1273015382862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47df58434716977f%3A0xbbc01566a55eaa4f!2sEast+Grinstead!5e0!3m2!1sen!2suk!4v1512453471469" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>


