<div class="inner cover">
  <h1 class="cover-heading">HTML Email and other design portfolios</h1>
    <p class="lead">Purpose of this website is to show some of my work in HTML Emails, web interfaces and widgets.</p>
    <p class="lead">
      <%= link_to "About", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>


       