<div class="inner cover">
  <h1 class="cover-heading">Linards Berzins Email design portfolios</h1>
    <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    <p class="lead">
      <%= link_to "About me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>


       