@import "bootstrap";
@import "gritter";



/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
  border-radius: 0px;
  &:hover {
    background-color:#e9e9e9;
  }
}


/*
 * Base structure
 */



html,
body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: none;
}

/*h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6*/

h1 h2 h3 h4 h5 h6 {
  font-family: 'Roboto Slab', sans-serif;
  text-decoration: none;
  &:hover a{
    text-decoration: none;
  }
}

.masthead-brand h3{
  font-family: 'Roboto Slab', sans-serif;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
} 


.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; 
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: .5rem;
}


/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.75);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .nav-link {
  color: #FFF;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 40em) {

  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }

  .site-wrapper-inner {
    vertical-align: middle;
  }
 
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }
}





@media (max-width: 40em) {
  .pf {
  margin-bottom: 20px;
  }

  .about-panel {
  padding: 30px !important;
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 65rem;
  }
}

/*
 * Custom styles
 */

 .card-block {
  color: #1a1a1a;
  text-align: left; 
  text-shadow:none;
 }

.edit_user, .edit_user_title{
  width:90%;
  margin:0 auto;
 }

.new_user {
  width: 95%;
  margin: 0 auto;
}

.auth-links a{
  padding: 5px;
  color: #2A2A2A;
  background-color:#FFFFFF;
  font-weight: 800;
  text-decoration: none;

  &:hover {
    background-color: #FFFFFF;
    border-bottom: #2A2A2A;
  }

}

.btn.btn-primary {
  border-radius: 0px;
}

.back_btn_container {
  margin: 2rem 0 1rem 0;
}


.new_form_container {
  margin: 2rem 0 1rem 0;
}

.auth-links-container {
  width: 100%;
  padding: 1rem 0 1rem 0;
  text-align: right;
}

.signup_new {
  margin-top:1rem;
}

.login_auth_links {
 margin: 1rem 0 1rem 0;
}

.login_auth_links, .auth-links a:nth-child(even){
  margin-top: 3rem;
}

.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.app-nav span{
  margin-left:15px;
  margin-right:15px;
}

#background {
  position: fixed;
  top:0%;
  left:0%;
  min-width:100%;
  min-height:100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-tranform: translateX(-50%) translateY(-50%);
  tranform: translateX(-50%) translateY(-50%);
  background: image-url('home_bg_c.jpg') no-repeat;
  background-size:cover;
}

.app-footer {
  color:#FFFFFF;
}

.pf img { 
  border-radius: 100px;
}

.pf {
  text-align: left;
}

.about-panel {
  color: #000001;
  padding:70px;
  text-align: left;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

.tech-news {
  color: #323232;
  margin: 20px;
  padding: 20px;
}

.tech-news a {
  color: #f000ea;
}

.tech-news > .card {
  padding: 30px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.9);
}

.contact_padding {
  padding-top: 50px;
}

.card-block {
  margin-top: 5px;
}

.skill {
   margin-top: 5px;
}

.btn.btn-primary {
  background-color: #358399;
  border: none;
  border-radius: 0px;
  &:hover {
    background-color: #44a2be;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
}

.card-block {
  padding: 7px;
}

.card.card-block {
  border: 0px;
}

.tech-news-headline{
  padding-top: 2em;
}

.app-footer {
  padding-top:2em;
}

button.btn.btn-primary {
  margin-top: 10px;
}

.job_history{
  border-radius: 0px;
  background-color: #e0e0e0ff;
}

.education {
  border-radius: 0px;
  background-color: #c9dad4ff;
}


















