@import "bootstrap";
@import "font-awesome";
@import "gritter";

/*
 * Globals
 */

@media (max-width: 40em) {
  .sidebar-module-inset {
    margin-top: 20px;
  }
}



body {
  font-family: 'Raleway', sans-serif;
  color: #555;
}

body a{
  color: #358399;
  &:hover {
    color: #993550;
    text-decoration: none;
  }
}


h1 .h1,
h2 .h2,
h3 .h3,
h4 .h4,
h5 .h5,
h6 .h6{
  font-family: 'Roboto Slab', sans-serif;
}


/*
 * Masthead for nav
 */

.blog-masthead {
  margin-bottom: 3rem;
  background-color: #358399;
  -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
          box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
}

/* Nav links */
.nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: #cdddeb;
}
.nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
  color: #fff;
}
.nav-link.active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}

.blog-nav {
  margin-bottom: 40px;
  padding-bottom:0px;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  border-bottom: .05rem solid #eee;
}
.blog-title {
  font-size: 26px;
  font-weight: normal;
  color: #888;
  margin-bottom: 41px;
}
.blog-description {
  font-size: 1.1rem;
  color: #888;
}

.blog-main h2 {
  color: #358399;
  text-decoration: none;
}

@media (min-width: 40em) {
  .breadcrumb {
    margin-left: auto;
    padding-left: auto;
  }
}


/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 1rem;
  /*margin: 0 -1rem 1rem;*/
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.actions input {
  margin-top: 10px;
  background-color: #2A687A;
  border: none;
  border-radius: 0px;

  &:hover {
  background-color: #5D9BAD;
  }
}


/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  margin-top: 20px;
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/*
 * Custom styles
 */

.blog-nav-link {
  color: #868e96 !important;
  text-decoration: none;

  &:hover {
    color: #6c757d !important;
  }

  &.active {
    color: #495057 !important;
  }
}

 .social_links li {
 font-size: 1.5rem;
 display: inline;
 text-align: center;
 }

.fa {
    color: #358399;
    &:hover {
    color: #5d9bad;
    }
  }

.comment-card > .card {
  margin-top: 15px;
}

.avatar {
  margin: 10px;
  &:img {
  border-radius: 50px;
  }
}

.comment_atribute
{
  font-size: .8em;
  font-style: italic;
  color: #358399;
  margin: 10px 0 10px 10px;
}

.comment_style {
  font-weight: 800;
}

.comment_content {
  margin: 10px;
  border: 1px solid #999;
  padding: 10px;
}

.social_text {
  text-align: center;
  & li {
    padding-right: 15px;
    &:nth-child(3n) {
      padding-right:0px;
    }
  }
  h4 {
    color: #888;
  }
}

.card {
  margin-bottom: 10px;
}



.breadcrumb {
  background-color: #FFFFFF;
  border-bottom: 1px solid #ffffff;
  border-radius: 0px;
  padding-left: 1rem;
  margin: 0 0 20px 0;
  -webkit-box-shadow: 0px -2px 6px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -2px 6px -4px rgba(0,0,0,0.75);
  box-shadow: 0px -2px 6px -4px rgba(0,0,0,0.75);
}

.blogcrumb a{
  font-size: 1.25em;
  margin: 0 15px 0 15px;
}

.btn.btn-primary {
  background-color: #358399;
  border: none;
  border-radius: 0px;
  &:hover {
    background-color: #44a2be;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
}

.blog_body {
background-color: #FFFFFF;
  border-bottom: none;
 border-radius: 0px;
  padding-left:1rem;
  margin: 0 0 20px 0;
  -webkit-box-shadow: 0px -2px 6px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -2px 6px -4px rgba(0,0,0,0.75);
box-shadow: 0px -2px 6px -4px rgba(0,0,0,0.75);
}

.topic-index > .card {
  margin: 10px;
  padding: 10px;
  border-radius: 0px;
  text-align: center;
  &:hover {
    background-color: #44a2be;
    text-decoration: none;
    border: none;
    cursor: pointer;
    &:hover a {
      color: #FFFFFF;
    }
  }
}

.blog_body_copy{
  border-top: 1px solid rgba(212, 212, 212, 0.75);
  margin-bottom: 3em;
}

.card {
  border-radius: 0px;
}

.form-control {
  border-radius: 0px;
}











