@import "bootstrap";
@import "jquery-ui";
@import "gritter";



body {
  font-family: 'Raleway', sans-serif;
}

h1 h2 h3 h4 h5 h6{
  font-family: 'Roboto Slab', sans-serif;
  color: #333;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
 
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 100%;
  height: inherit;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  border-radius: 0px;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* Custom */

.portfolio_container {
	padding-top: 30px;
}

.cover-heading > h1{
  font-family: 'Roboto Slab', sans-serif;
}

.btn.btn-primary {
  background-color: #358399;
  border: none;
  border-radius: 0px;
  &:hover {
    background-color: #44a2be;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
}

.btn.btn-warning {
  border-radius: 0px;
  border:none;
  &:hover {
    border: none;
    cursor: pointer;
    }
}

.masthead-brand h3{
  &:hover a{
  text-decoration: none;
  }
}

.portfolio-box{
  border : 2px solid transparent;    
  -webkit-transition : border 500ms ease-out; 
  -moz-transition : border 500ms ease-out;
  -o-transition : border 500ms ease-out;
}

.portfolio-box:hover{
  border : 2px solid #d3d3d3;
}

.btn-secondary {
  border-radius: 0px;
  background-color: #358399;
  border: none;
  &:hover {
    background-color: #44a2be;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
}

h1.jumbotron-heading {
  color:#868e96 !important;
}

/* Portfolio show page text color */
.portfolio_container .col-md-5 {
  h1, h2, h3, h4, h5, h6, p, em, span {
    color: #868e96 !important;
  }
}

/* Portfolio item card text color */
.portfolio-box .card-text {
  color: #868e96 !important;
  span, a {
    color: #868e96 !important;
  }
}